{
	title = "Volume Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			icon = icons/VolumeController.png;
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = HUD_TYPE_IN_PORTRAIT_ORIENTATION;
		},
		{
			cell = PSSegmentCell;
			key = hudTypeInPortraitOrientation;
			default = 999;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			validValues = (
				999,
				0,
				1,
				2,
			);
			validTitles = (
				DEFAULT,
				DISABLE,
				HORIZONTAL,
				VERTICAL,
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = HUD_TYPE_IN_LANDSCAPE_ORIENTATION;
		},
		{
			cell = PSSegmentCell;
			key = hudTypeInLandscapeOrientation;
			default = 999;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			validValues = (
				999,
				0,
				1,
				2,
			);
			validTitles = (
				DEFAULT,
				DISABLE,
				HORIZONTAL,
				VERTICAL,
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = VOLUME_HUD;
			footerText = VOLUME_HUD_INFO;
		},
		{
			cell = PSLinkCell;
			label = IN_PORTRAIT_MODE;
			detail = VolumeControllerPortraitVolumeHud;
		},
		{
			cell = PSLinkCell;
			label = IN_LANDSCAPE_MODE;
			detail = VolumeControllerLandscapeVolumeHud;
		},
		{
			cell = PSGroupCell;
			label = VOLUME_BUTTONS;
			key = volumeStepsGroup;
			footerText = VOLUME_STEPS_INFO;
		},
		{
			cell = PSEditTextCell;
			key = volumeSteps;
			label = VOLUME_STEPS;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "16";
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
