Package: com.tomaszpoliszuk.volumecontroller
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader
Name: Volume Controller
Version: 0.5
Architecture: iphoneos-arm
Description: Control your Volume
Author: Tomasz Poliszuk
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension, compatible::ios13
Icon: file:///Library/PreferenceBundles/VolumeControllerPreferences.bundle/icons/VolumeController@3x.png
