{
	title = "Volume Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = "Enable Tweak";
			default = 1;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			icon = icons/VolumeController.png;
			height = 55;
		},
		{
			cell = PSGroupCell;
			footerText = "How many times you need to press volume button to go from 0 to 100%";
		},
		{
			cell = PSEditTextCell;
			key = "volumeSteps";
			label = "Volume Steps";
			default = 16;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "default is 16";
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSLinkCell;
			label = "Volume HUD";
			detail = "PSListController";
			title = "Volume HUD";
			items = (
				{
					cell = PSGroupCell;
					label = "Icon";
				},
				{
					cell = PSSegmentCell;
					key = "showIcon";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						404,
					);
					validTitles = (
						Default,
						Hide,
					);
					height = 55;
				},
				{
					cell = PSGroupCell;
					label = "HUD type for Portrait Orientation ";
				},
				{
					cell = PSSegmentCell;
					key = "hudTypeForPortraitOrientation";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						1,
						2,
					);
					validTitles = (
						Default,
						Landscape,
						Portrait,
					);
					height = 55;
				},
				{
					cell = PSGroupCell;
					label = "HUD type for Landscape Orientation";
				},
				{
					cell = PSSegmentCell;
					key = "hudTypeForLandscapeOrientation";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						1,
						2,
					);
					validTitles = (
						Default,
						Landscape,
						Portrait,
					);
					height = 55;
				},
				{
					cell = PSGroupCell;
					label = "Size of Portrait Volume HUD";
				},
				{
					cell = PSSegmentCell;
					key = "controlPortraitSize";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						0,
						1,
					);
					validTitles = (
						Default,
						"Simple",
						"Custom",
					);
					height = 55;
				},
				{
					cell = PSLinkListCell;
					key = "simplePortraitSize";
					label = "Simple";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					detail = PSListItemsController;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						2,
						1,
						3,
					);
					validTitles = (
						Default,
						Small,
						Regular,
						Big,
					);
				},
				{
					cell = PSLinkCell;
					label = "Custom";
					detail = "PSListController";
					title = "Custom";
					items = (
						{
							cell = PSGroupCell;
							label = "Regular";
						},
						{
							cell = PSEditTextCell;
							label = "Width:";
							key = "widthSizePortraitFor1";
							default = "47";
							placeholder = "47";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Height:";
							key = "heightSizePortraitFor1";
							default = "148";
							placeholder = "148";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Border Radius:";
							key = "borderRadiusPortraitFor1";
							default = "9";
							placeholder = "9";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = "Small";
						},
						{
							cell = PSEditTextCell;
							label = "Width:";
							key = "widthSizePortraitFor2";
							default = "7";
							placeholder = "7";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Height:";
							key = "heightSizePortraitFor2";
							default = "134";
							placeholder = "134";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Border Radius:";
							key = "borderRadiusPortraitFor2";
							default = "3.5";
							placeholder = "3.5";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = "Big";
						},
						{
							cell = PSEditTextCell;
							label = "Width:";
							key = "widthSizePortraitFor3";
							default = "58";
							placeholder = "58";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Height:";
							key = "heightSizePortraitFor3";
							default = "170";
							placeholder = "170";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Border Radius:";
							key = "borderRadiusPortraitFor3";
							default = "18";
							placeholder = "18";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
					);
				},
				{
					cell = PSGroupCell;
					label = "Position of Portrait Volume HUD";
				},
				{
					cell = PSSegmentCell;
					key = "controlPortraitPosition";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						1,
					);
					validTitles = (
						Default,
						"Custom",
					);
					height = 55;
				},
				{
					cell = PSEditTextCell;
					label = "From Top:";
					key = "positionPortraitTop";
					default = "141";
					placeholder = "141";
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
				{
					cell = PSEditTextCell;
					label = "From Left:";
					key = "positionPortraitLeft";
					default = "32";
					placeholder = "32";
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
				{
					cell = PSGroupCell;
					label = "Size of Landscape Volume HUD";
				},
				{
					cell = PSSegmentCell;
					key = "controlLandscapeSize";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						0,
						1,
					);
					validTitles = (
						Default,
						"Simple",
						"Custom",
					);
					height = 55;
				},
				{
					cell = PSLinkListCell;
					key = "simpleLandscapeSize";
					label = "Size";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					detail = PSListItemsController;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						2,
						1,
						3,
					);
					validTitles = (
						Default,
						Small,
						Regular,
						Big,
					);
				},
				{
					cell = PSLinkCell;
					label = "Custom";
					detail = "PSListController";
					title = "Custom";
					items = (
						{
							cell = PSGroupCell;
							label = "Regular";
						},
						{
							cell = PSEditTextCell;
							label = "Width:";
							key = "widthSizeLandscapeFor1";
							default = "209";
							placeholder = "209";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Height:";
							key = "heightSizeLandscapeFor1";
							default = "32";
							placeholder = "32";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Border Radius:";
							key = "borderRadiusLandscapeFor1";
							default = "5.5";
							placeholder = "5.5";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = "Small";
						},
						{
							cell = PSEditTextCell;
							label = "Width:";
							key = "widthSizeLandscapeFor2";
							default = "238";
							placeholder = "238";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Height:";
							key = "heightSizeLandscapeFor2";
							default = "5";
							placeholder = "5";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Border Radius:";
							key = "borderRadiusLandscapeFor2";
							default = "2.5";
							placeholder = "2.5";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = "Big";
						},
						{
							cell = PSEditTextCell;
							label = "Width:";
							key = "widthSizeLandscapeFor3";
							default = "260";
							placeholder = "260";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Height:";
							key = "heightSizeLandscapeFor3";
							default = "37";
							placeholder = "37";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = "Border Radius:";
							key = "borderRadiusLandscapeFor3";
							default = "13";
							placeholder = "13";
							keyboard = numbers;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
					);
				},
				{
					cell = PSGroupCell;
					label = "Position of Landscape Volume HUD";
				},
				{
					cell = PSSegmentCell;
					key = "controlLandscapePosition";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						1,
					);
					validTitles = (
						Default,
						"Custom",
					);
					height = 55;
				},
				{
					cell = PSEditTextCell;
					label = "From Top:";
					key = "positionLandscapeTop";
					default = "20";
					placeholder = "20";
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
				{
					cell = PSEditTextCell;
					label = "From Left:";
					key = "positionLandscapeLeft";
					default = "368";
					placeholder = "368";
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
			);
		},
		{
			cell = PSGroupCell;
			label = "Settings";
		},
		{
			cell = PSButtonCell;
			label = "Reset Settings";
			action = resetSettings;
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Report Issue @ GitHub";
			action = reportIssueAtGithub;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Twitter";
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
