{
	title = "Volume Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			icon = icons/VolumeController.png;
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = VOLUME_HUD;
			footerText = VOLUME_HUD_INFO;
		},
		{
			cell = PSLinkCell;
			label = IN_PORTRAIT_MODE;
			detail = "VolumeControllerPortraitVolumeHud";
			title = VOLUME_HUD_IN_PORTRAIT_MODE;
			items = (
				{
					cell = PSGroupCell;
					label = SIZE;
				},
				{
					cell = PSSegmentCell;
					key = "controlPortraitSize";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						0,
						1,
					);
					validTitles = (
						DEFAULT,
						SIMPLE,
						CUSTOM,
					);
					height = 55;
				},
				{
					cell = PSLinkListCell;
					key = "simplePortraitSize";
					label = SIMPLE;
					staticTextMessage = VOLUME_HUD_SIZE_INFO;
					default = 2;
					defaults = com.tomaszpoliszuk.volumecontroller;
					detail = PSListItemsController;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						2,
						1,
						3,
					);
					validTitles = (
						SLIM,
						MEDIUM,
						BOLD,
					);
				},
				{
					cell = PSLinkCell;
					label = CUSTOM;
					detail = "VolumeControllerPortraitVolumeHudCustomSize";
					title = CUSTOM;
					items = (
						{
							cell = PSGroupCell;
							label = SLIM;
							footerText = VOLUME_HUD_SIZE_INFO_SLIM;
						},
						{
							cell = PSEditTextCell;
							label = WIDTH_;
							key = "portraitState2Width";
							placeholder = "7";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = HEIGHT_;
							key = "portraitState2Height";
							placeholder = "134";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = BORDER_RADIUS_;
							key = "portraitState2CornerRadius";
							placeholder = "3.5";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = MEDIUM;
							footerText = VOLUME_HUD_SIZE_INFO_MEDIUM;
						},
						{
							cell = PSEditTextCell;
							label = WIDTH_;
							key = "portraitState1Width";
							placeholder = "47";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = HEIGHT_;
							key = "portraitState1Height";
							placeholder = "148";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = BORDER_RADIUS_;
							key = "portraitState1CornerRadius";
							placeholder = "15";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = BOLD;
							footerText = VOLUME_HUD_SIZE_INFO_BOLD;
						},
						{
							cell = PSEditTextCell;
							label = WIDTH_;
							key = "portraitState3Width";
							placeholder = "58";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = HEIGHT_;
							key = "portraitState3Height";
							placeholder = "170";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = BORDER_RADIUS_;
							key = "portraitState3CornerRadius";
							placeholder = "18";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
					);
				},
				{
					cell = PSGroupCell;
					label = POSITION;
					footerText = POSITION_INFO;
				},
				{
					cell = PSEditTextCell;
					label = Y_AXIS;
					key = "portraitYaxis";
					placeholder = POSITION_PLACEHOLDER;
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
				{
					cell = PSEditTextCell;
					label = X_AXIS;
					key = "portraitXaxis";
					placeholder = POSITION_PLACEHOLDER;
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
			);
		},
		{
			cell = PSLinkCell;
			label = IN_LANDSCAPE_MODE;
			detail = "VolumeControllerLandscapeVolumeHud";
			title = VOLUME_HUD_IN_LANDSCAPE_MODE;
			items = (
				{
					cell = PSGroupCell;
					label = SIZE;
				},
				{
					cell = PSSegmentCell;
					key = "controlLandscapeSize";
					default = 999;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						999,
						0,
						1,
					);
					validTitles = (
						DEFAULT,
						SIMPLE,
						CUSTOM,
					);
					height = 55;
				},
				{
					cell = PSLinkListCell;
					key = "simpleLandscapeSize";
					label = SIMPLE;
					staticTextMessage = VOLUME_HUD_SIZE_INFO;
					default = 2;
					defaults = com.tomaszpoliszuk.volumecontroller;
					detail = PSListItemsController;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
					validValues = (
						2,
						1,
						3,
					);
					validTitles = (
						SLIM,
						MEDIUM,
						BOLD,
					);
				},
				{
					cell = PSLinkCell;
					label = CUSTOM;
					detail = "VolumeControllerLandscapeVolumeHudCustomSize";
					title = CUSTOM;
					items = (
						{
							cell = PSGroupCell;
							label = SLIM;
							footerText = VOLUME_HUD_SIZE_INFO_SLIM;
						},
						{
							cell = PSEditTextCell;
							label = WIDTH_;
							key = "landscapeState2Width";
							placeholder = "238";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = HEIGHT_;
							key = "landscapeState2Height";
							placeholder = "5";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = BORDER_RADIUS_;
							key = "landscapeState2CornerRadius";
							placeholder = "2.5";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = MEDIUM;
							footerText = VOLUME_HUD_SIZE_INFO_MEDIUM;
						},
						{
							cell = PSEditTextCell;
							label = WIDTH_;
							key = "landscapeState1Width";
							placeholder = "209";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = HEIGHT_;
							key = "landscapeState1Height";
							placeholder = "32";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = BORDER_RADIUS_;
							key = "landscapeState1CornerRadius";
							placeholder = "11";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSGroupCell;
							label = BOLD;
							footerText = VOLUME_HUD_SIZE_INFO_BOLD;
						},
						{
							cell = PSEditTextCell;
							label = WIDTH_;
							key = "landscapeState3Width";
							placeholder = "260";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = HEIGHT_;
							key = "landscapeState3Height";
							placeholder = "37";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
						{
							cell = PSEditTextCell;
							label = BORDER_RADIUS_;
							key = "landscapeState3CornerRadius";
							placeholder = "13";
							keyboard = numbers;
							isNumeric = 1;
							defaults = com.tomaszpoliszuk.volumecontroller;
							PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
						},
					);
				},
				{
					cell = PSGroupCell;
					label = POSITION;
					footerText = POSITION_INFO;
				},
				{
					cell = PSEditTextCell;
					label = Y_AXIS;
					key = "landscapeYaxis";
					placeholder = POSITION_PLACEHOLDER;
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
				{
					cell = PSEditTextCell;
					label = X_AXIS;
					key = "landscapeXaxis";
					placeholder = POSITION_PLACEHOLDER;
					keyboard = numbers;
					defaults = com.tomaszpoliszuk.volumecontroller;
					PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
				},
			);
		},
		{
			cell = PSGroupCell;
			label = VOLUME_BUTTONS;
			footerText = VOLUME_STEPS_INFO;
		},
		{
			cell = PSEditTextCell;
			key = "volumeSteps";
			label = VOLUME_STEPS;
			defaults = com.tomaszpoliszuk.volumecontroller;
			PostNotification = "com.tomaszpoliszuk.volumecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "16";
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
